{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    {% tailwind_css %}

    <style>
        /* Custom CSS for smaller placeholder text */
        input::placeholder {
            font-size: 0.85rem; /* Adjust this size as needed */
            font-weight: 500;
            color: rgba(107, 114, 128, 1); /* Example gray color */
        }
    </style>
  </head>
  <body>
    <header class="flex items-center p-6 pb-4 sticky top-0 z-50 bg-white">
        <div class="w-10">{% include "assets/drk_small_title.svg" %}</div>
      </header>
    <div
      class=" flex items-center justify-center bg-white py-5 px-4 sm:px-6 lg:px-8"
    >
      <div class="max-w-sm w-full p-3">

        <div class="w-full mb-8 pl-36"><div>{% include "assets/logo small.svg" %}</div></div>
        
        <h1 class="text-2xl font-bold text-center">Login to your account</h1>
        <p class="text-gray-font1 font-medium text-center text-base mb-8 text-14">
          Provide your email and enter your password
        </p>

        <form method="post" class="space-y-7">
          {% csrf_token %} {{ form.non_field_errors }}
          <div class="space-y-3">
            <div class="space-y-1">
              <p class="text-13 font-bold">Username*</p>
              <input type="hidden" name="next" value="{% url 'dashboard_home' %}">
              <div class="rounded-sm font-sm">{{ form.username }}</div>
              {{ form.username.errors }}
            </div>

            <div class="space-y-1">
              <p class="text-13 font-bold">Password*</p>
              <div class="rounded-sm font-sm">{{ form.password }}</div>
              {{ form.password.errors }}
            </div>
          </div>
          <div class="relative flex items-center justify-center">
            <hr class="w-full border-gray-300" />
            <span class="absolute bg-white px-3 text-gray-font1 text-13">OR</span>
          </div>

          <div class="flex flex-col items-center justify-center space-y-4">
            <button
              class="w-full flex justify-center items-center border border-input-border py-2 rounded-sm hover:bg-gray-100 font-semibold text-13 h-10"
            >
              <div class="h-7 w-9 mr-1">
                {% include 'assets/flat-color-icons_google.svg' %}
              </div>
              
            <a href="#googlesignin">
              Sign in with Google
              </a>
            </button>
            <button
              class="w-full flex justify-center items-center border border-input-border py-2 rounded-sm hover:bg-gray-100 font-semibold text-13 h-10"
            >
              <div class="h-9 w-9 mr-1">
                {% include 'assets/ic_baseline-apple.svg' %}
              </div>
              <a href="#googlesignin">
              Sign in with Apple ID
            </a>
            </button>
          </div>

          <button
            type="submit"
            class="w-full bg-green-box text-white py-2 rounded-sm hover:bg-green-700 transition-colors font-regular text-base text-13 font-bold"
          >
            Continue
          </button>
        </form>
      </div>
    </div>
    <button class="flex text-gray-font1 text-13 mx-5 px-5 mt-12">{% include 'assets/arrow_left.svg' %}<dic class="px-2 font-bold"> <a href="{% url 'register' %}">Register</a></div></button>
  </body>
</html>
