{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Litterbox</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    {% tailwind_css %}
    <style>
      /* Custom CSS for smaller placeholder text */
      input::placeholder {
        font-size: 0.85rem;
        font-weight: 500;
        color: rgba(107, 114, 128, 1);
      }

      .errorlist {
        font-size: 0.85rem;
        color: red;
        font-weight: 500;
      }
    </style>
  </head>
  <body class="h-screen bg-cover bg-no-repeat bg-center">
    <div class="w-full flex">
      {% include 'left_panel_registration.html' %}
      <div class="bg-white w-2/3">{% include 'register_form.html' %}</div>
    </div>

    <!-- Load the external JavaScript file -->
    <script src="{% static 'js/register.js' %}"></script>
  </body>
</html>
