dashboard/__pycache__/__init__.cpython-312.pyc
dashboard/__pycache__/models.cpython-312.pyc
dashboard/__pycache__/apps.cpython-312.pyc
dashboard/__pycache__/admin.cpython-312.pyc
dashboard/__pycache__/urls.cpython-312.pyc
dashboard/__pycache__/views.cpython-312.pyc
dashboard/migrations/__pycache__/__init__.cpython-312.pyc
