{% load static tailwind_tags %}
{% tailwind_css %}

<div class="cover-image-container flex flex-col items-center">
    {% if profile.cover_image %}
        <img src="{{ profile.cover_image.url }}" alt="Profile Cover Image" class="w-full h-[360px]">
    {% else %}
        <img src="https://via.placeholder.com/150" alt="Profile Placeholder" class="w-full h-[360px]">
    {% endif %}
    <button id="popup-edit-cover-id" class="edit-cover-container bg-gray-btn px-2 py-1 rounded-lg text-center w-[168px] text-sm absolute right-[47px] bottom-[29px] border-none z-0" >
        Edit Cover Photo
    </button>
</div>



