{% load static tailwind_tags %}
{% tailwind_css %}

<div class="cover-image-container flex flex-col items-center p-4">
    {% if profile.cover_image %}
    <img 
        src="{{ profile.cover_image.url }}" 
        alt="Profile Cover Image" 
        class="min-w-[730px] w-full h-[400px] rounded-lg"
    >
    {% else %}
        <div class="min-w-[730px] w-full h-[400px]  bg-[#6a7181] rounded-lg"></div>
    {% endif %}
    {% if request.user == profile.student%}
        <button id="popup-edit-cover-id" class="edit-cover-container absolute bg-gray-btn px-2 py-1 rounded-lg text-center w-[168px] text-sm  right-[47px] bottom-[29px] border-none z-0  hover:bg-gray-200" >
            Edit Cover Photo
        </button>
    {% endif %}

</div>

<script src="{% static 'js/cover_function.js' %}" type="module"></script>



