{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>Litterbox</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% tailwind_css %}
    </head>
    <body>
        {% include "header.html" %}
        <div class ="flex justify-center gap-6 flex-wrap p-10 bg-pink-100">
            
            <div class="side-container">
                {% include "personal_info.html" %}
                {% include "about_info.html" %}
            </div>

            <div class="main-container">
                <div class="cover-container">
                    {% include "cover_section.html" %}
                </div>
                <div class="create-container">
                    Create
                </div>
            </div>
        </div>
    </body>
</html>
<script src="{% static 'js/myscripts.js' %}"></script>