<div class="p-8 pb-4">
  <div class="flex justify-between">
    <div class="flex space-x-2">
      <h1 class="text-2xl font-bold mb-4">{{ announcement.title }}</h1>
      <div class="text-gray-font text-xs self-center pb-3">{{ announcement.created_at|timesince }} ago</div>
    </div>
    <div class="relative">
      <!-- Dots Button -->
      <button
        type="button"
        class="flex items-center justify-center w-10 h-10 p-2 rounded-full hover:bg-hover-color hover:scale-105 active:scale-95 transform transition duration-300"
        onclick="toggleDropdown('{{ post.id }}')"
      >
        {% include "assets/dots.svg" %}
      </button>

      <!-- Dropdown Menu -->
      <div
        id="dropdown-{{ post.id }}"
        class="hidden absolute right-0 mt-2 w-32 bg-white border border-gray-300 rounded-lg shadow-lg z-10"
      >
        <!-- Edit Option -->
        <a
          href=""
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
        >
          Edit
        </a>
      </div>
    </div>
  </div>
  <div class="mb-4 tiny-content prose text-sm">
    {{ announcement.content|safe }}
  </div>
</div>

<script>
  function toggleDropdown(id) {
    const dropdown = document.getElementById(`dropdown-${id}`);

    if (dropdown) {
      dropdown.classList.toggle("hidden");
      dropdown.classList.toggle("block");

      if (!dropdown.classList.contains("hidden")) {
        // Add a document listener to close the dropdown
        document.addEventListener("click", (event) =>
          closeOnClickOutside(event, id)
        );
      }
    } else {
      console.error(`Dropdown with ID 'dropdown-${id}' not found.`);
    }
  }

  function closeOnClickOutside(event, id) {
    const dropdown = document.getElementById(`dropdown-${id}`);
    const button = document.querySelector(
      `[onclick="toggleDropdown('${id}')"]`
    );

    if (
      dropdown &&
      !dropdown.contains(event.target) &&
      !button.contains(event.target)
    ) {
      dropdown.classList.add("hidden");
      dropdown.classList.remove("block");

      // Remove the document listener after closing
      document.removeEventListener("click", (e) => closeOnClickOutside(e, id));
    }
  }
</script>
