<div class="h-min bg-white rounded-xl p-5 px-6 mt-4 border border-border-gray space-y-3">
  <div class="border-b stroke-gray-200 h-8 flex">
    <p class="font-medium w-full">Announcement</p>
    {% include "assets/dots.svg" %}
  </div>
  <div class="mt-4 flex space-x-4">
    <div class="flex items-center">
      {% include "assets/formkit_megaphone1.svg" %}
    </div>
    <div>
      <p>Title : Subtitle</p>
      <p class="text-11 font-light text-gray-font">Month 00-00 Org</p>
    </div>
  </div>
  <div class="mt-4 flex space-x-4">
    <div class="flex items-center">
      {% include "assets/formkit_megaphone1.svg" %}
    </div>
    <div>
      <p>Title : Subtitle</p>
      <p class="text-11 font-light text-gray-font">Month 00-00 Org</p>
    </div>
  </div>
</div>
