{% load static %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script>
    tinymce.init({
        selector: 'textarea', // Targets all `<textarea>` elements
        height: 500, // Optional, adjust height
        plugins: 'advlist autolink lists link image charmap print preview anchor searchreplace visualblocks code fullscreen insertdatetime media table paste code help wordcount',
        toolbar: 'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
        menubar: false, // Optional, hide the menubar if unnecessary
    });
</script>

<div class="h-1/6 bg-white rounded-xl p-4 px-6">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="h-14 w-full border-b border-gray-200 flex space-x-4">
            <div class="w-9 h-9 rounded-full bg-gray-300">
                <a href="{% url 'profile_view' user.id %}" class="">
                  {% if user.profile.profile_image %}
                      <img src="{{ user.profile.profile_image.url }}" alt="Profile Image" class="w-9 h-9 rounded-full object-cover">
                  {% endif %}
                </a>
              </div>
            
            <div class="w-3/4 h-9 rounded-lg flex items-center">
                {{ form.title }}
            </div>
            
            <button
                class="w-1/6 h-9 rounded-lg text-sm font-normal bg-blue-box text-blue-font"
                type="submit"
            >
                Share
            </button>
        </div>
  </div>
  
  <div class="h-full p-6 px-6">
    {{ form.content }}
    <!-- <textarea placeholder="Write your post here..." class="placeholder-gray-font w-full h-80 rounded-lg text-sm font-normal text-black border border-border-gray hover:bg-bg-gray"></textarea> -->
  </div>
  
</form>
  