{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Litterbox</title>
    {% tailwind_css %}
  </head>
  <body class="text-sm">
    {% include "header_dashboard.html" %}

    <div class="mx-4 p-4 w-auto h-full rounded-xl flex space-x-4 bg-gray-box">
      <div class="w-1/4 h-full sticky top-16">
        {% include "profile_panel.html" %} {% include "tabs_panel.html" %}
      </div>

      <div class="w-2/3 h-full">
        {% include "create_post_panel.html" %}

        {% for post in posts %}
          {% include "feed_box.html" with post=post %}
        {% endfor %}
        
      </div>

      <div class="w-1/4 h-full sticky top-16">
        {% include "event_panel.html" %} {% include "announcement_panel.html" %}
        {% include "calendar_panel.html" %}
      </div>
    </div>
  </body>
</html>
