{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Litterbox</title>
    {% tailwind_css %}
  </head>
  <style>
    .custom-border1{
      left: calc(25% + 2.25%);
    }
    
    .custom-border2{
      right: calc(25% + 2.21%);
    }

    .header-size{
      width: calc(45.5%);
    }
  </style>
  <body class="text-sm bg-bg-gray">
    <div class="w-auto h-full rounded-xl flex">
      {% include "left_panel.html" %}

      <div class="w-full h-full ">
        {% include "header_dashboard.html" %}

        <div class="flex flex-row w-full">
          <div class="w-1/4"></div>
          <div class="w-1/4"></div>
          <div class="w-5/6 m-auto top-0 sticky bg-white border border-border-gray border-t-0 rounded-b-[30px]">
            <div class="overflow-y-auto z-[-100]">
              {% include "main_feed.html" %}
            </div>
          </div>
          <div class="w-1/4"></div>
          <div class="w-1/4"></div>
          {% if request.resolver_match.url_name == 'announcements' %}
            <a href="/announcement_create"><button class="w-16 h-16 rounded-2xl flex justify-center items-center fixed right-5 bottom-5 bg-gray-100 padding-5 hover:bg-gray-200"> {% include "assets/mingcute_add-fill.svg" %}</button></a>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
