<div class="h-min bg-white rounded-xl p-5 px-6 border border-border-gray space-y-3">
  <div class="border-b stroke-gray-200 h-8 flex">
    <div class="font-medium w-full">Events</div>
    {% include "assets/dots.svg" %}
  </div>
  <div class="mt-4 flex space-x-4">
    <div class="flex items-center">
      {% include "assets/mdi_event-outline.svg" %}
    </div>
    <div>
      <p>Event Title : Event subtitle</p>
      <p class="text-11 font-light text-gray-font">
        Month 00-00 Event Location
      </p>
    </div>
  </div>
  <div class="mt-4 flex space-x-4">
    <div class="flex items-center">
      {% include "assets/mdi_event-outline.svg" %}
    </div>
    <div>
      <p>Event Title : Event subtitle</p>
      <p class="text-11 font-light text-gray-font">
        Month 00-00 Event Location
      </p>
    </div>
  </div>
  <div class="mt-4 flex space-x-4">
    <div class="flex items-center">
      {% include "assets/mdi_event-outline.svg" %}
    </div>
    <div>
      <p>Event Title : Event subtitle</p>
      <p class="text-11 font-light text-gray-font">
        Month 00-00 Event Location
      </p>
    </div>
  </div>
  <div class="mt-4 flex space-x-4">
    <div class="flex items-center">
      {% include "assets/mdi_event-outline.svg" %}
    </div>
    <div>
      <p>Event Title : Event subtitle</p>
      <p class="text-11 font-light text-gray-font">
        Month 00-00 Event Location
      </p>
    </div>
  </div>
</div>