<div class="h-48 bg-white rounded-xl p-6">
  <div class="border-b stroke-gray-200 h-8 flex">
    <p class="font-medium w-full">Events</p>
    {% include "assets/dots.svg" %}
  </div>
  <div class="mt-4 flex space-x-4">
    <div class="flex items-center">
      {% include "assets/mdi_event-outline.svg" %}
    </div>
    <div>
      <p>Event Title : Event subtitle</p>
      <p class="text-xs font-light text-gray-font">
        Month 00-00 Event Location
      </p>
    </div>
  </div>
  <div class="mt-4 flex space-x-4">
    <div class="flex items-center">
      {% include "assets/mdi_event-outline.svg" %}
    </div>
    <div>
      <p>Event Title : Event subtitle</p>
      <p class="text-xs font-light text-gray-font">
        Month 00-00 Event Location
      </p>
    </div>
  </div>
</div>
