<div class="mt-4 bg-white rounded-xl">
  <!-- Profile Section -->
  <div class="flex justify-between">
    <div class="flex items-center p-4">
      <div class="h-9 w-9 bg-gray-font1 rounded-full"></div>
      <div class="ml-3">
        <p class="font-medium">User Full Name</p>
        <p class="text-xs text-gray-font">31 Month at 12:59 PM</p>
      </div>
    </div>
    <div class="p-6">{% include "assets/dots.svg" %}</div>
  </div>
  <!-- Main Content Section -->
  <div class="px-4 flex border-b stroke-black pb-2">
    <div class="h-56 w-1/2 bg-gray-100 rounded-xl"></div>
    <div class="w-1/2 p-5 items-center">
      <h2 class="text-3xl font-bold">Blog Post Title</h2>
      <p class="text-gray-700 text-lg mt-2">
        Understanding color theory helps in creating visually appealing designs,
        evoking emotions, and guiding viewer attention. It's the foundation for
        effective visual communication.
      </p>
    </div>
  </div>
  <!-- Interactions Section -->
  <div class="px-4 py-2 flex justify-between text-xs">
    <div class="flex items-center">
      <span class="text-gray-font flex">
        <div class="mx-1">{% include "assets/ph_heart-bold.svg" %}</div>
        99 Likes</span
      >
      <span class="mx-4 text-gray-font flex">
        <div class="mx-1">{% include "assets/iconamoon_comment.svg" %}</div>
        99 Comments</span
      >
      <span class="text-gray-font flex">
        <div class="mx-1">{% include "assets/uil_share.svg" %}</div>
        99 Shares</span
      >
    </div>
    <div class="flex items-center">
      <span class="text-gray-font">59 min read</span>
      <div class="ml-6">
        {% include "assets/material-symbols_bookmark-outline.svg" %}
      </div>
    </div>
  </div>
</div>
