{% load static tailwind_tags %} {% tailwind_css %}
<div class="sticky top-0 z-10 m-auto">
  <div class="flex-grow flex justify-center p-8 header-size m-auto bg-bg-gray border border-b-border-gray border-x-0">
    <div class=" h-9">
    </div>
  </div>
  <div class="absolute custom-border1" style="margin-top: -1px;">
    {% include "assets/hide-corner-left.svg" %}
  </div>
  <div class="absolute custom-border2" style="margin-top: -1px;">
    {% include "assets/hide-corner-right.svg" %}
  </div>
</div>
