{% if request.resolver_match.url_name == 'dashboard_home' or request.resolver_match.url_name == 'index' %}
    {% include "create_post_panel.html" %}
    {% for post in posts %}
        {% include "feed_box.html" with post=post %}
    {% endfor %}

{% elif request.resolver_match.url_name == 'post_create' %}
    {% include "create_post_form.html" %}

{% elif request.resolver_match.url_name == 'send_report' %}
    {% include "report_post.html" %}

{% elif request.resolver_match.url_name == 'post_detail' %}
    {% include "post_details.html" with post=post comments=comments user_liked=user_liked %}

{% else %}
<p>URL Name: {{ request.resolver_match.url_name }}</p>

{% endif %}
