{% load custom_filters %}
<div>
  <div class="p-6 pb-1">
    <div class="flex space-x-3 mb-4 w-full items-center">
      <div class="w-9 h-9 rounded-full bg-gray-300"></div>
      <div class="font-bold">{{ post.author }}</div>
      <div class="text-gray-font">{{ post.date_posted|timesince_first }}</div>
    </div>

    
    <h1 class="text-2xl font-bold mb-4">{{ post.title }}</h1>
    <p class="mb-4">{{ post.content }}</p>

    <div class="px-4 pl-0 py-2 flex justify-between text-xs mb-4">
      <div class="flex items-center">
        <span class="text-gray-font flex">
          <div class="mx-2 ml-0">
            {% if user_liked %}
              {% include "assets/heart-filled.svg" %}
            {% else %}
              {% include "assets/ph_heart-bold.svg" %}
            {% endif %}
          </div>
          {{ post.likes.count }}</span
        >
        <span class="mx-4 text-gray-font flex">
          <div class="mx-2">{% include "assets/iconamoon_comment.svg" %}</div>
          {{ post.comments.count }}</span
        >
        <span class="text-gray-font flex">
          <div class="mx-2">{% include "assets/uil_share.svg" %}</div>
          0</span
        >
      </div>
      <div class="flex items-center">
        <span class="text-gray-font">59 min read</span>
        <div class="ml-6">
          {% include "assets/material-symbols_bookmark-outline.svg" %}
        </div>
      </div>
    </div>
  </div>
<div class="w-full">
    <div>
      {% if post.comments.count > 0 %}
      <div class="w-full px-6 mb-4">
        <hr/>
      </div>
    <h1 class="text-md font-bold pb-4 px-6 border border-x-0 border-t-0 border-b-border-gray">
      Replies
    </h1>
    {% endif %}

    <ul class="">
      {% for comment in comments %}
      <li class="px-6 py-4 space-y-1 border border-x-0 border-t-0 border-b-border-gray">
        <div class="flex space-x-2">
          <div class="font-bold">{{ comment.author }}</div>
          <div class="text-gray-font">{{ comment.date_posted|timesince_first }}</div>
        </div>
        <p>{{ comment.content }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
