<div class="mt-4 h-1/2 bg-white rounded-xl p-4">
  <!-- Feed item (Active) -->
  <div
    class="flex items-center justify-between rounded-lg text-gray-font1 bg-blue-500"
  >
    <button
      class="flex items-center space-x-3 p-3 rounded-lg text-white w-full"
    >
      {% include "assets/ri_home-3-line2.svg" %}
      <span>Feed</span>
    </button>
    <div
      class="w-8 h-5 rounded-full bg-red-500 text-white flex items-center justify-center text-xs m-2"
    >
      99
    </div>
  </div>

  <!-- Events item with notification badge -->
  <div class="flex items-center justify-between mt-2 rounded-lg text-gray-font1">
    <button
      class="flex items-center space-x-3 p-3 rounded-lg text-gray-font1 w-full"
    >
      {% include "assets/mdi_event-outline1.svg" %}
      <span>Events</span>
    </button>
    <div
      class="w-8 h-5 rounded-full bg-red-500 text-white flex items-center justify-center text-xs m-2"
    >
      99
    </div>
  </div>
  <!-- Tags item -->

  <div class="flex items-center justify-between mt-2 rounded-lg text-gray-font1">
    <button
      class="flex items-center space-x-3 p-3 rounded-lg text-gray-font1 w-full"
    >
      {% include "assets/prime_tags1.svg" %}
      <span>Tags</span>
    </button>
    <div
      class="w-8 h-5 rounded-full bg-red-500 text-white flex items-center justify-center text-xs m-2"
    >
      99
    </div>
  </div>

  <!-- Announcements item -->
  <div class="flex items-center justify-between mt-2 rounded-lg text-gray-font1">
    <button
      class="flex items-center space-x-3 p-3 rounded-lg text-gray-font1 w-full"
    >
      {% include "assets/formkit_megaphone1.svg" %}
      <span>Announcements</span>
    </button>
    <div
      class="w-8 h-5 rounded-full bg-red-500 text-white flex items-center justify-center text-xs m-2"
    >
      99
    </div>
  </div>

  <div class="text-xs text-gray-font p-3">Organizations</div>

    <button
      class="flex items-center space-x-3 p-3 rounded-lg text-gray-font1 w-full"
    >
      <div class="bg-gray-font1 rounded-lg h-8 w-8"></div>
      <span>Organization Name</span>
    </button>
    <button
      class="flex items-center space-x-3 p-3 rounded-lg text-gray-font1 w-full"
    >
      <div class="bg-gray-font1 rounded-lg h-8 w-8"></div>
      <span>Organization Name</span>
    </button>
</div>
